{
  "lastName": "",
  "firstName": "",
  "additionalAddress": "",
  "phone": "",
  "street": "",
  "streetNumber": "",
  "plz": "",
  "city": "",
  "bahncard100": "BahnCard 100-Nr.",
  "bahncard100Nr": "",
  "birthday": "",
  "mail": "",
  "kontoName": "",
  "IBAN": ",
  "BIC": "",
  "anrede": "Herr",
  "howtoMoney": "Auszahlung oder Uberweisung"
}
